<div class="transparent-bg" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;zoom: 1;"></div>

<div class="divPanel notop nobottom">
        <div class="row-fluid">

            <div class="span12">
                <div id="divLogo" class="pull-left">
                    <a href="#/" id="divSiteTitle"><img src="images/logo.png" alt="Site Name" title="Site Name" /></a><br/>  
                </div>

                <div id="divMenuRight" class="pull-right">
                    <div class="navbar">
                        <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                        NAVIGATION <span class="icon-chevron-down icon-white"></span>
                        </button>
                        <div class="nav-collapse collapse">
                            <ul class="nav nav-pills ddmenu">
                                    <li data-ng-class="navigationLink == 'home' ? 'active' : null">
                                            <a href="#/home" title="Home Page">Home</a>                                        
                                    </li>
                                    <li data-ng-class="navigationLink == 'newsAndEvents' ? 'active' : null">
                                            <a href="#/newsAndEvents" title="News &amp; Events Page">News &amp; Events</a>
                                    </li>
                                    <li data-ng-class="navigationLink == 'program' ? 'active' : null">
                                            <a href="#/program" title="Program Page">Program</a>
                                    </li>
                                    <li data-ng-class="navigationLink == 'people' ? 'active' : navigationLink == 'peopleTeam' ? 'active' : navigationLink == 'peopleTrainees' ? 'active' : null">
                                            <a href="#/people" title="People Page">People</a>
                                    </li>
                                    <li data-ng-class="navigationLink == 'training' ? 'active' : null">
                                            <a href="#/training" title="Training Page">Training</a>
                                    </li>
                                    <li data-ng-class="navigationLink == 'publications' ? 'active' : null">
                                            <a href="#/publications" title="Publications Page">Publications</a>
                                    <li data-ng-class="navigationLink == 'contact' ? 'active' : null">                                        
                                            <a href="#/contact" title="Contact Page">Contact</a>                                        
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>



            </div>

            <span id="divTitle">ADERSIM | NSERC CREATE</span><br/>
            <span id="divTagLine">Computational Approaches in Advanced Disaster Emergency and Rapid Response Simulations</span>


        </div>

<hr>

</div>


