<article data-ng-include="'pages/home.html'" data-ng-if="navigationLink == 'home'" class="mainArticle"></article>
<!-- <aside data-ng-include="'pages/newsSideBar.html'" data-ng-if="navigationLink == 'home'"></aside> -->
<div data-ng-if="navigationLink == 'home'" class="clear" aria-hidden="true"></div>

<article data-ng-include="'pages/newsAndEvents.html'" data-ng-if="navigationLink == 'newsAndEvents'" class="fullArticle"></article>
<article data-ng-include="'pages/program.html'" data-ng-if="navigationLink == 'program'" class="fullArticle"></article>
<article data-ng-include="'pages/people.html'" data-ng-if="navigationLink == 'people'" class="fullArticle"></article>
<article data-ng-include="'pages/peopleTeam.html'" data-ng-if="navigationLink == 'peopleTeam'" class="fullArticle"></article>
<article data-ng-include="'pages/peopleTrainees.html'" data-ng-if="navigationLink == 'peopleTrainees'" class="fullArticle"></article>
<article data-ng-include="'pages/training.html'" data-ng-if="navigationLink == 'training'" class="fullArticle"></article>
<article data-ng-include="'pages/publications.html'" data-ng-if="navigationLink == 'publications'" class="fullArticle"></article>
<article data-ng-include="'pages/partners.html'" data-ng-if="navigationLink == 'partners'" class="fullArticle"></article>
<article data-ng-include="'pages/contact.html'" data-ng-if="navigationLink == 'contact'" class="fullArticle"></article>
<article data-ng-include="'pages/privacy.html'" data-ng-if="navigationLink == 'privacy'" class="fullArticle"></article>
<article data-ng-include="'pages/tos.html'" data-ng-if="navigationLink == 'tos'" class="fullArticle"></article>
<article data-ng-include="'pages/aoda.html'" data-ng-if="navigationLink == 'aoda'" class="fullArticle"></article>